
.page_wrapper {
	width: 100%;
/*	display: grid;
*/	box-sizing: border-box;
	/*grid-template-columns: 17% 83%;
	grid-template-areas: "....... header"
	                     "sidebar content";*/
	background-color: #fff;
	color: #444;
	padding-right: 1em;
	padding-left: 1em;
	grid-gap: 5px;
	width: 100%;
}

/*
 * header
 *
 */
.header {
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-areas: "logo inner__header"
	                     "logo inner__header";
	border-bottom: 4px solid #7d97ad;
	min-height: 66px;
	box-sizing: border-box;
	margin-bottom: 10px; 
}

.logo {
	grid-area: logo;
	float : left;
	margin-top: 1.3em;
	width: 100%;
	max-width: 70px;
	padding-bottom: 1.2em;
}

.inner__header {
	display: block;
	grid-area: inner__header;
	text-align: right;
	text-transform: uppercase;
	margin-top: 1.3em;
}

 /*
  * cover
  */
 .cover {
	box-sizing: border-box;
	display: block;
	width: 100%;
	margin-bottom: 1.5em; 
}

/*
 * fetaure work
 */
 .featured_work {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	padding: 5px;
	justify-content: space-between;
}

.featured_work_title {
	color: #7d97ad;
	width: 100%;
}

@media screen and (max-width:767px){
	.feature_work_item {
		width: 100%;
		text-align: center;
	}
}

@media screen and (min-width:768px){
	.feature_work_item {
		width: 30%;
		text-align: center;
	}
}

.featured_work_item_name {
	text-transform: uppercase;
	text-align: center;
	padding-top: 10px;
}

img {
	width: 100%;
	box-sizing: border-box;
}

header,
section,
article,
div {
  box-sizing: border-box;
}

body {
	overflow-wrap: break-word;
}