
.page_wrapper {
	width: 100%;
	display: grid;
	box-sizing: border-box;
	grid-template-columns: 17% 83%;
	grid-template-areas: "....... header"
	                     "sidebar content";
	background-color: #fff;
	color: #444;
	padding-right: 1em;
	padding-left: 1em;
	grid-gap: 5px;
	width: 100%;
}
/*
 * header
 *
 */

.header {
	grid-area: header;
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-areas: "logo inner__header"
	                     "logo inner__header";
	border-bottom: 4px solid #7d97ad;
	min-height: 66px;
	box-sizing: border-box;
	margin-bottom: 10px; 
}

.logo {
	grid-area; logo;
	float : left;
	margin-top: 1.3em;
	width: 100%;
	max-width: 70px;
	padding-bottom: 1.2em;
}

.inner__header {
	display: block;
	grid-area: inner__header;
	text-align: right;
	text-transform: uppercase;
	margin-top: 1.3em;
}

/*
 * side bar
 */


.sidebar {
	grid-area: sidebar;
}

.box {
	box-sizing: border-box;
	width: 50%;
	padding-top: 50%;
	margin: auto;
	border: 1px solid rgba(0, 0, 0, .2);
}
.siderbar__element {
	box-sizing: border-box;
	width: 100%;
	text-align: center;
}

.blue {
	background: #02b3e4;
}

.dark-grey {
	background: #2d3c49;
}

.light-grey {
	background: #7d97ad;
}

/*
 *  page content
 */
.content {
	grid-area: content;
}

 /*
  * cover
  */

 .cover {
	box-sizing: border-box;
	display: block;
	height: 100%;
	width: 100%;
	margin-bottom: 1.5em; 
}

/*
 * fetaure work
 */
 .featured_work {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	flex-direction:row;
	padding:5px;
	justify-content: space-between;
}

.featured_work_title {
	color: #7d97ad;
	width: 100%;
}

@media screen and (max-width:767px){
	.feature_work_item {
		width: 100%;
		align-self: top;
		text-align: center;
	}
	.feature_work_item_pic {
		max-height : 160px;
	}
}
@media screen and (min-width:768px){
	.feature_work_item {
		width: 30%;
		align-self: top;
		text-align: center;
	}
	.feature_work_item_pic {
		height: 160px;
	}

}

.featured_work_item_name {
	font-style: bold;
	text-transform: uppercase;
	text-align: center;
	padding-top: 10px;
}

img {
	width: 100%;
	box-sizing: border-box;
}
header, nav, footer, section, article, div {
  box-sizing: border-box;
}

body {
	overflow-wrap: break-word;
}